@model WebApplication3.Models.ProductModel
@using Microsoft.AspNet.Identity;
@using Newtonsoft.Json;
@{
    Layout = null;
    var usrId = HttpContext.Current.User.Identity.IsAuthenticated
        ? HttpContext.Current.User.Identity.GetUserId()
        : "";
}

<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My Store - Product</title>

    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/styles.css")
    @Scripts.Render("~/bundles/product-dev")

    <!-- Utils -->
    <script>
        const switchToPage = (num) => {
            ["#store-content",
                "#editor-container",
                "#cart-content"]
                .forEach((page, index) => index === num ? $(page).removeAttr("hidden") : $(page).attr("hidden", 1));
        }

        const updateCart = (data) => {
            // add download link if avail
            if (!data.downloadUrls[0]) {
                $("#download-button-link").attr("hidden", 1);
            } else {
                $("#download-button-link").attr("href", data.downloadUrls[0]);
            }

            // display custom data
            $("#properties").html("");
            for (let [key, val] of Object.entries(data.data)) {
                $("#properties").append(`<div class='product-property'>${key}: ${val}</div>`);
            }

            // update product image
            $(".product-image-placeholder").css("background-image", `url(${data.images[0]})`);
        }
    </script>

    <!-- Integration code -->
    <script>

        const urlParams = new URLSearchParams(window.location.search);
        const sku = urlParams.get('sku') || 1;

        document.addEventListener('DOMContentLoaded', async () => {

            const editorContainer = $('#editor')[0];
            const productId = "@Model.Id";
            const userId = "@usrId";
            const tenantId = 9;
            const uifEditor = new Aurigma.UIFrameworkEditor({
                container: editorContainer,
                ecommerceService: new Aurigma.DocketManagerService({
                    backofficeUrl: "https://backoffice-devenv.azurewebsites.net/",
                    tenantId: tenantId,
                    customerId: userId,
                    customerSignature: "",
                    shopName: "docket-manager",
                    product: @Html.Raw(JsonConvert.SerializeObject(this.Model, new JsonSerializerSettings
                        {
                            ContractResolver = new Newtonsoft.Json.Serialization.DefaultContractResolver
                            {
                                NamingStrategy = new Newtonsoft.Json.Serialization.CamelCaseNamingStrategy()
                            },
                            Formatting = Formatting.Indented
                        }))
                })
            });

            /*const sf = await Aurigma.Storefront.load({ userId: userId, tenantId: tenantId }, { id: productId }, editorContainer);
            sf.driver.orders.current.onSubmitted.subscribe(data => {
                console.log('added to cart');
            });*/
            Aurigma.driver = await uifEditor.create();
            Aurigma.driver.orders.current.onSubmitted.subscribe(data => {
                console.log('added to cart');
                console.log(data);
            });

            $("#customize-button").removeAttr("disabled");
            $("#customize-button").click(() => switchToPage(1)); // editor
            $("#back-button").click(() => switchToPage(0)); // home
            $(".home").click(() => switchToPage(0)); // home
            $(".sku-holder").text(sku);

        });
    </script>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container">
            <button class="navbar-brand home btn">Ecommerce Demo Page</button>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <img src="~/Content/img/profile.svg">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="~/Content/img/favorite.svg">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="~/Content/img/cart.svg">
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container" id="store-content">
        <div class="row">
            <!-- Left Column -->
            <div class="col">
                <div id="demoCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Content/img/design.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/img/design.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Content/img/design.png" alt="Third slide">
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#demoCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#demoCarousel" data-slide-to="1"></li>
                        <li data-target="#demoCarousel" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>

            <!-- Right Column -->
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="breadcrumb-item">@Html.ActionLink("Products", "Products", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">Product <span class="sku-holder">123</span></li>
                    </ol>
                </nav>
                <h6>
                    SKU <span class="sku-holder">123</span></h5>
                    <h2>Product name</h2>
                    <h5>
                        $25.00</h4>
                        <form>
                            <div class="form-group">
                                <label for="quantity-group">Quantity</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><div class="minus"></div></div>
                                    </div>
                                    <input type="text" class="form-control" id="quantity-group" value="1" disabled>
                                    <div class="input-group-append">
                                        <div class="input-group-text"><div class="plus"></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="option-1">Option 1</label>
                                <select class="form-control" id="option-1" area-placeholder="Choose an option" disabled>
                                    <option>Choose an option</option>
                                    <option>Value 1</option>
                                    <option>Value 2</option>
                                </select>
                            </div>
                            <button id="customize-button" type="button" class="btn btn-primary btn-lg" disabled>Customize</button>
                        </form>
                        <div class="card">
                            <div class="card-header">
                                <h4>Description</h4>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Customer's Canvas API can be used with any e-commerce software like
                                    Shopify, nopCommerce, WooCommerce, Magento, or any other open source or commercial
                                    platform. Also, it can be implemented into in-house systems that are tightly
                                    integrated with businesses. The web-to-print technology is designed to take as
                                    little time and effort for implementation as possible to help you stay on budget.
                                </p>
                                <p class="card-text">
                                    Want to add product personalization to your storefront? Call us at
                                    <strong><tel>1-800-661-8190</tel></strong>
                                    or send an email at
                                    <strong>info@aurigma.com</strong>
                                </p>
                            </div>
                        </div>
            </div>
        </div>
    </div>

    <div class="container" id="editor-container" hidden>
        <div class="editor-header">
            <button id="back-button" class="btn">Back</button>
            <h2>Customize Product name</h2>
        </div>
        <div id="editor"></div>
    </div>

    <div class="container" id="cart-content" hidden>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cart</li>
            </ol>
        </nav>
        <h2>Your cart</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="column-product">Product</th>
                    <th class="column-price">Price</th>
                    <th class="column-quantity">Quantity</th>
                    <th class="column-total">Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="column-product">
                        <div class="column-product-content">
                            <div class="product-image-placeholder"></div>
                            <div class="product-description">
                                <div class="product-name">Product name</div>
                                <div id="properties">
                                    <div class="product-property">Envelope type: Blank envelopes</div>
                                    <div class="product-property">Color: Cream</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="column-price">$2.55</td>
                    <td class="column-quantity">25</td>
                    <td class="column-total">$63.75</td>
                    <td class="column-actions">
                        <a href="#" target="_blank" id="download-button-link"><button id="download-button" class="btn"></button></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="cart-footer">
            <div class="total">
                <div class="total-label">Subtotal:</div>
                <div class="total-value">$63.75</div>
            </div>
            <div class="total-hint">Shipping & taxes calculated at checkout</div>
            <div class="buttons">
                <button class="btn btn-primary home">Continue shopping</button>
                <button class="btn" disabled>Check out</button>
            </div>
        </div>
    </div>
</body>
</html>
