@model WebApplication3.ViewModels.ProductPageViewModel
@using System.Configuration
@using Microsoft.AspNet.Identity;
@using Newtonsoft.Json;
@{
    Layout = null;
    var usrId = HttpContext.Current.User.Identity.IsAuthenticated
        ? HttpContext.Current.User.Identity.GetUserId()
        : "";
}

<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My Store - Product</title>

    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/styles.css")
    @Scripts.Render("~/bundles/product-dev")

    <!-- Utils -->
    <script>
        const switchToPage = (num) => {
            ["#store-content",
                "#editor-container",
                "#cart-content"]
                .forEach((page, index) => index === num ? $(page).removeAttr("hidden") : $(page).attr("hidden", 1));
        }
    </script>

    <!-- Integration code -->
    <script>

        const urlArr =  window.location.href.split("/");
        const productId = Number(urlArr[urlArr.length - 1]);
        const getQueryParams = function () {
            let qs = window.location.search.substring(1).split('&');
            let qsPairs = {};
            qs.forEach(x => {
                let kvPair = x.split('=');
                qsPairs[kvPair[0]] = kvPair[1];
            });
            return qsPairs;
        }

        document.addEventListener('DOMContentLoaded', async () => {
            const editorContainer = $('#editor')[0];
            const userId = "@usrId";
            const tenantId = "@ConfigurationManager.AppSettings["TenantId"]";
            var qsPairs = getQueryParams();
            if (!!qsPairs['snapshot']) {
                switchToPage(1);
            }

            // start initialize editor
            const uifEditor = new Aurigma.UIFrameworkEditor({
                container: editorContainer,
                ecommerceService: new Aurigma.DocketManagerService({
                    backofficeUrl: "@ConfigurationManager.AppSettings["BackOfficeBackendUrl"]",
                    tenantId: tenantId,
                    customerId: userId,
                    customerSignature: "",
                    shopName: "docket-manager",
                    product: @Html.Raw(JsonConvert.SerializeObject(Model.Product, new JsonSerializerSettings
                             {
                                 ContractResolver = new Newtonsoft.Json.Serialization.DefaultContractResolver
                                 {
                                     NamingStrategy = new Newtonsoft.Json.Serialization.CamelCaseNamingStrategy()
                                 },
                                 Formatting = Formatting.Indented
                             }))
                })
            });

            Aurigma.driver = await uifEditor.create(false);

            // this function will be called when customer press `Finish` button.
            // In real ecommerce system first data is added to the cart.
            // In this sample we skip this step and right away create project.
            uifEditor.addProjectHandler(async (project) => {
                var qsPairs = getQueryParams();
                var fetchUrl = !!qsPairs['snapshot'] ? '/projects/update' : '/projects/create';
                await fetch(fetchUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify(project)
                });

                alert("Project created!");
            });

            $("#customize-button").removeAttr("disabled");
            $("#customize-button").click(() => switchToPage(1)); // editor
            $("#back-button").click(() => switchToPage(0)); // home
            $(".home").click(() => switchToPage(0)); // home
        });
    </script>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container">
            <button class="navbar-brand home btn">Ecommerce Demo Page</button>
            <ul class="navbar-nav">
            </ul>
        </div>
    </nav>

    <div class="container" id="store-content">
        <div class="row">
            <!-- Left Column -->
            <div class="col">
                <div id="demoCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="@Model.Product.Image" alt="First slide">
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                    </ol>
                </div>
            </div>

            <!-- Right Column -->
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="breadcrumb-item">@Html.ActionLink("Products", "Index", "Products")</li>
                        <li class="breadcrumb-item active" aria-current="page">Product <span>@Model.Product.Name</span></li>
                    </ol>
                </nav>
                <h5>SKU <span class="sku-holder">@Model.Product.Sku</span></h5>
                <h2>@Model.Product.Name</h2>
                <h4>Price: @Model.Product.Price</h4>
                <form>
                    <div class="form-group">
                        <label for="quantity-group">Quantity</label>
                        <div  class="input-group">
                            <input type="text" class="form-control" id="quantity-group" value="1" disabled>
                        </div>
                    </div>
                    <button id="customize-button" type="button" class="btn btn-primary btn-lg" disabled>Customize</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container" id="editor-container" hidden>
        <div class="editor-header">
            <button id="back-button" class="btn">Back</button>
            <h2>Customize Product name</h2>
        </div>
        <div id="editor"></div>
    </div>

    <div class="container" id="cart-content" hidden>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Cart</li>
            </ol>
        </nav>
        <h2>Your cart</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="column-product">Product</th>
                    <th class="column-price">Price</th>
                    <th class="column-quantity">Quantity</th>
                    <th class="column-total">Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="column-product">
                        <div class="column-product-content">
                            <div class="product-image-placeholder"></div>
                            <div class="product-description">
                                <div class="product-name">Product name</div>
                                <div id="properties">
                                    <div class="product-property">Envelope type: Blank envelopes</div>
                                    <div class="product-property">Color: Cream</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="column-price">$2.55</td>
                    <td class="column-quantity">25</td>
                    <td class="column-total">$63.75</td>
                    <td class="column-actions">
                        <a href="#" target="_blank" id="download-button-link">
                            <button id="download-button" class="btn"></button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="cart-footer">
            <div class="total">
                <div class="total-label">Subtotal:</div>
                <div class="total-value">$63.75</div>
            </div>
            <div class="total-hint">Shipping & taxes calculated at checkout</div>
            <div class="buttons">
                <button class="btn btn-primary home">Continue shopping</button>
                <button class="btn" disabled>Check out</button>
            </div>
        </div>
    </div>
</body>
</html>